<html>
<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Programm Languages</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarColor01" aria-controls="navbarColor01"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link"
					href="languages">Languages</a></li>
				<li class="nav-item active"><a class="nav-link"
					href="repositories">Repositories</a></li>
				<li class="nav-item active"><a class="nav-link"
					href="visualize">Visualize</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
			<h1 class="display-4">Programming Languages</h1>
			<p class="lead">Most popular programming language based on most
				stars github repositories.</p>
		</div>
		<table class="table table-borderd table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Rank</th>
					<th>Name</th>
					<th>Popularity</th>
					<th>Trend</th>
				</tr>

			</thead>

			<tbody>
				<tr th:each="language,iter : ${languages}">
					<td th:text="${iter.index+1}" />
					<td th:text="${language.name}" />
					<td th:text="${language.name}" />
					<td th:text="${language.name}" />
				</tr>

			</tbody>

		</table>

		<nav>
			<ul class="pagination bg-dark justify-content-center">
				<li class="page-item"
					th:classappend="${languages.number eq 0} ? 'disabled'"><a
					class="page-link"
					th:href="@{/languages?page={id}(id=${languages.number lt 2 ? 1 : languages.number})}"
					aria-label="Previous" title="Previous Page" data-toggle="tooltip">
						<span aria-hidden="true">&laquo;</span>
				</a></li>
				<li class="page-item"
					th:classappend="${i eq languages.number + 1} ? 'active'"
					th:each="i : ${#numbers.sequence( 1, languages.totalPages, 1)}">
					<a class="page-link" th:href="@{/languages?page={id}(id=${i})}"
					th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
				</li>
				<li class="page-item"
					th:classappend="${languages.number + 1 eq languages.totalPages} ? 'disabled'">
					<a class="page-link"
					th:href="@{/languages?page={id}(id=${languages.number + 2})}"
					aria-label="Next" title="Next Page" data-toggle="tooltip"> <span
						aria-hidden="true">&raquo;</span>
				</a>
				</li>
			</ul>
		</nav>

	</div>
</body>
</html>